---
layout: default
---

<div class="custom-container" style="text-align:center; margin-top:50px;">
  <h2>Curriculum Vitae</h2>
  <p>
    <a href="{{ site.url }}/assets/pdf/example_pdf.pdf" target="_blank">
      View or Download my CV
    </a>
  </p>
</div>
